@use "mixins" as *;
@use "variables" as *;
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  overflow-x: hidden;
  background-color: $body-bg;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100dvw;
  &.animating {
    overflow: hidden;
  }
  // .bg {
  //   position: fixed;
  //   top: -50%;
  //   left: -50%;
  //   right: -50%;
  //   bottom: -50%;
  //   width: 200%;
  //   height: 200vh;
  //   background: transparent
  //     url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  //   background-repeat: repeat;
  //   animation: bg-animation 0.2s infinite;
  //   opacity: 1;
  //   z-index: 0;
  //   visibility: visible;
  // }
}
