@use "mixins" as *;
@use "variables" as *;
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  overflow-x: hidden;
  background-color: $body-bg;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100dvw;
  &.animating {
    overflow: hidden;
  }
}
.cursor {
  position: fixed;
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  z-index: 1;
  transition:
    0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
  mix-blend-mode: difference;

  &.active {
    opacity: 0.5;
    transform: scale(0);
  }

  &.hovered {
    opacity: 0.08;
  }
}

.cursor-follower {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: 1;
  transition:
    0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(5px, 5px);
  mix-blend-mode: difference;

  &.active {
    opacity: 0.7;
    transform: scale(3);
  }

  &.hovered {
    opacity: 0.08;
  }
}
