@use "mixins" as *;
@use "variables" as *;
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 1rem 1rem;
  background: transparent;
  z-index: 9999;

  .logo img {
    height: 40px;
    width: 40px;
    filter: invert(1);
    opacity: 0.6;
  }
  h1 {
    color: $h2-text;
    text-align: center;
    display: flex;
    justify-self: center;
    font-weight: 200;
    font-size: clamp(1rem, 3vw, 1.1rem);
  }

  .nav-main {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-right: 3rem;

    .nav-link {
      text-decoration: none;
      color: $h2-text;
      font-weight: 200;
      font-size: clamp(1rem, 3vw, 1.1rem);

      &:hover {
        transform: scale(1.1);
        color: $h1-text;
      }
    }
  }
}
