@mixin section {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}
@mixin section-about {
  min-height: 70vh;
  min-width: 100vw;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}
@mixin section-contact {
  min-height: 60vh;
  min-width: 100vw;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}
@mixin section-grid-contact {
  height: 70vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  position: relative;
}
@mixin section-grid-about {
  height: 70vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  position: relative;
}

@mixin section-grid {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  position: relative;
}
